<div class="modal fade" tabindex="-1" role="dialog" id="editModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body">
        <label>Description</label>
        <textarea type="text" class="form-control descriptionarea" name="description" maxlength="150">
          <%= blogposts.description %>
        </textarea>
        <br/>
        <label>Tags</label>
        <input type="text" class="form-control" name="tags" value="<%= blogposts.tags %>"/>
        <br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary-outline" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Update</button>
      </div>
    </div>
  </div>
</div>
