<% include ./includes/header.ejs %>

<h3>home</h3>

<% /*for(var i = 0; i < blogposts.length; i++){ %>
  <div class='col-lg-6 col-md-6 col-sm-6 col-xs-12'>
    <div class="image">
      <img src='<%= blogposts[i].img_link %>'/>
    </div>
    <div class="description">
      <%= blogposts[i].description %>
    </div>
    <p class="tags">
      <%= blogposts[i].tags %>
    </p>
  </div>
<% }*/ %>

<% /*include ./includes/edit.ejs*/ %>
<% /*include ./includes/delete.ejs*/ %>

<% include ./includes/footer.ejs %>
